@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    width: 100vw;
    height: 75px;
    position: fixed;
    z-index: 99;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.66);
}


h1 {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 5px 5px 8px black;
    font-size: 8vw;
    padding-top: 10px;
    margin: 0px;
    font-family: 'Rubik Dirt', cursive;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 2%;
    z-index: 99;
}

#sanduiche {
    color: white;
    background-color: black;
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}

menu {
    background-color: rgba(1, 1, 1, 0.925);
    padding-top: 60px;
    padding-left: 5px;
    width: 80vw;
    height: 700px;
    position: fixed;
    display: none;
}

menu ul {
    font-size: 1.3em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

menu ul li {
    padding: 10px 0px;
    margin: 5px 0px;
}



menu a {
    padding: 5px 5px;
    color: rgb(255, 252, 252);
    text-decoration: none;
    font-family: 'Rubik Dirt', cursive;
}

menu a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    margin: auto;
}

article {
    background-color: rgb(0, 0, 0);
    padding-bottom: 30px;
}

article h2 {
    color: white;
    margin-top: 0px;
    text-align: center;
    text-shadow: 3px 3px 5px black;

}

article p {
    color: white;
    margin: 15px;
    padding: 5px 20px 20px 20px;
    line-height: 1.8em;
    text-indent: 15px;
    text-align: justify;
}

.container {
    background-color: black;
    padding-top: 50px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.children {
    background-color: rgb(0, 0, 0);
} 

#fundacao {
    display: block;
    margin: auto;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 4px;

}

#motocicleta {
    display: block;
    margin: auto;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 4px;
}


section h2 {
    color: black;
    font-size: 1.1em;
    text-align: center;
    margin-left: 10px;
    line-height: 1.3em;
    padding-top: none;
    text-shadow: none;
}

section p {
    text-align: justify;
    padding: 0px 20px 20px 20px;
    text-indent: 20px;
    margin-bottom: 0px;
    line-height: 1.8em;
}


aside {
    background-color:black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 80vw;
    height: 410px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 0px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 0px 10px black;
}

aside h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

#lista {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    margin: auto;
    width: 200px;
    text-align: justify;
    font-weight: bold;
    list-style-type: circle;
    padding: 10px 0px;
    display: block;
}

#lista > li {
    background-color: rgba(0, 0, 0, 0.874);
    padding: 8px;
    font-size: 1.2em;
}


#lista a {
    color: rgb(255, 252, 252);
    text-decoration: none;
    width: 50px;
}

#lista a:hover {
    text-decoration: underline;
}


footer {
    background-color: white;
    color: black;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    margin: 0px;
    font-weight: bolder;
}

/*
    Estilo da página COMANDO
*/

.titulodiretores {
    text-align: center;
    font-weight: border;
    
}


#container {
    background-color: rgb(0, 0, 0);
    height: 1800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.diretores {
    width: 280px;
    height: 280px;
    border: 2px solid rgb(255, 255, 255);
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}


.diretores p {
    display: none;
    text-align: center;
    font-size: 1.1em;
    padding-top: 25%;
    margin: 0px;
}

.diretores:hover p {
    display: block;
}


#alessandro {
    background-image: url(imagens/PRESIDENTE.png);
}

#alessandro:hover {
    background-image: none;
}


#clecio {
    background-image: url(imagens/CLECIO.jpg);
}

#clecio:hover {
    background-image: none;
}


#major {
    background-image: url(imagens/MAJOR.png);
}

#major:hover {
    background-image: none;
}

#vonne {
    background-image: url(imagens/4.png);
}

#vonne:hover {
    background-image: none;
}

#gabriel {
    background-image: url(imagens/5.png);
}

#gabriel:hover {
    background-image: none;
}

#ernande {
    background-image: url(imagens/6.png);
}

#ernande:hover {
    background-image: none;
}
