@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
    background-image: linear-gradient(to bottom, black, black, gray);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

header {
    background-color: black;
    background-image: url(imagens/wallpaperheader.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    margin: auto;
    padding-top: 15px;
    max-height: 500px;
    min-height: 300px;
}

header > div {
    display: block;
    padding-top: 100px;
    padding-left: 15px;
    position: initial;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 5px 5px 8px black;
    font-size: 8vw;
    padding-top: 10px;
    font-family: 'Rubik Dirt', cursive;
}

nav {
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

nav a {
    padding: 5px 5px;
    background-color: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Rubik Dirt', cursive;
}

nav a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
}

article {
    background-color: rgb(0, 0, 0);
    padding-bottom: 30px;
}

h2 {
    color: white;
    margin-left: 30px;
    padding-top: 10px;
    text-shadow: 3px 3px 5px black;

}

article p {
    color: white;
    margin: 15px;
    padding: 5px 20px 20px 20px;
    line-height: 1.8em;
    text-indent: 15px;
    text-align: justify;
}

.imgedit {
    display: block;
    margin: auto;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: inset 8px 8px 13px rgba(0, 0, 0, 0.704);
}

#rolavel {
    background-image: url(imagens/wallpaper.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 3px black;
    padding: 20px;
}

#rolavel > p {
    background-color: rgba(0, 0, 0, 0.756);
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 10px;
    line-height: 2em;
}


aside {
    background-color: white;
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
    padding: 5px 0px;

}

aside ul {
    list-style-position: inside;
    columns: 2;
}

aside a {
    color: black;
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}


h3 {
    text-align: center;
}

footer {
    background-color: white;
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
}

footer a {
    color: white;
    background-color: black;
    padding: 5px; 
}

footer p {
    text-align: center;
}

#linkfooter {
    color: white;
    background-color: black; 
    text-align: center;
    padding: 10px 0px 10px 0px;
}

#diretoress {
    margin-left: 20px;
    padding: 5px;
}


.fundo {
    background-image: url(imagens/wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.photo {
   border-radius: 10px;
   border: 4px solid black;
   display: inline-block;
}



.titulodiretores {
    text-align: center;
}