header {
    color: rgb(0, 0, 0);
    height: 100px;
    text-align: center;
}

header h1 {
    color: rgb(255, 255, 255);
    font-size: 9vw;
    left: -1%;
}

menu {
    text-align: left;
    display: none;
}

main {
    background-color: black;
}

.container {
    background-color: rgb(0, 0, 0);
    padding-top: 80px;
    height: 400px;
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.children {
    background-color: rgb(0, 0, 0);
    background-image: url(imagens/LOGO.png
    );
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} 

.imgpagina1 {
    background-color: rgb(0, 0, 0);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoprincipal {
    background-color: white;
    background-image: url(imagens/PRINCIPAL.jpg);
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.fotoprincipal2 {
    background-color: rgb(0, 0, 0);
    background-image: url(imagens/PRINCIPAL2.png);
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;

}

aside {
    width: 600px;
}

footer {
    height: 300px;
}

#secao h2 {
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    text-align: center;
    margin-left: 10px;
    line-height: 2em;
    padding-top: none;
    text-shadow: none;
}

#secao p {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: justify;
    padding: 0px 40px 40px 40px;
    text-indent: 20px;
    margin-bottom: 0px;
    line-height: 1.8em;
}


.imgrodape {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    top: end;
    left: 0;
    justify-content: center;
    align-items: center;
}

.logorodape {
    width: 110px;
    height: 150px;
    background-color: white;
    background-image: url(imagens/LOGODESKTOP.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgrodape2 {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    top: end;
    right: 0;
    justify-content: center;
    align-items: center;
}

.logorodape2 {
    width: 110px;
    height: 150px;
    background-color: white;
    background-image: url(imagens/LOGODESKTOP.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*
    estilo da página COMANDO
*/

.articlecomando {
    width: 900px;
    margin: auto;
}


#container {
    background-color: rgb(0, 0, 0);
    width: 800px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.diretores {
    width: 330px;
    height: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.diretores p {
    display: none;
    text-align: center;
    font-size: 1.5em;
}

.diretores:hover p {
    display: block;
}

.textodiretores {
    color: white;
    font-weight: bold;
    width: 700px;
    margin: auto;
    line-height: 2.2em;
    text-align: justify;
}


/*
    estilo da página GALERIA
*/

#sectiongaleria {
    width: 800px;
    margin: auto;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fundogaleria {
    height:6000px;
    width: 800px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.fotosgaleria {
    width: 300px;
    height: 300px;
}   


/*
    estilo da página SEJA MEMBRO
*/

.fotoprincipal3 {
    height: 500px;
    width: 500px;
}

.fotoprincipal4 {
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

section h3 {
    color: black;
}

section p {
    background-color: white;
    padding: 40px 60px;
}