body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(111, 111, 111);  /* creates padding around scroll thumb */
  }
  

header {
    color: rgb(0, 0, 0);
    height: 100px;
    text-align: center;
}

header h1 {
    color: rgb(255, 255, 255);
    font-size: 9vw;
}

menu {
    margin-top: 50px;
    text-align: left;
    display: flex;
}


#menu {
    background-color: rgba(1, 1, 1, 0.973);
    width: 100vw;
    height: 0px;
    padding-left: 5px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.919);
    
    transition: 1s;
    visibility: hidden;
    overflow-y: hidden;
    z-index: 98;
}

#menu.active {
    visibility: visible;
    height: 800px;
    padding-top: 60px; 
}


main {
    background-color: black;
}

article {
    margin: auto;
    width: 600px;
}

article h2 {
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 30px;
}

#articlemembros h2 {
    padding-top: 80px;
    padding-bottom: 35px;
    font-size: 1.3em;
}

.container {
    background-color: rgb(0, 0, 0);
    padding-top: 80px;
    height: 400px;
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.children {
    background-color: rgb(0, 0, 0);
    background-image: url(imagens/LOGO.png
    );
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} 

.imgpagina1 {
    background-color: rgb(0, 0, 0);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoprincipal {
    background-color: white;
    background-image: url(imagens/fotofundo.png);
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.fotoprincipal1 {
    background-color: white;
    background-image: url(imagens/fotofundo2.jpg);
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.fotoprincipal2 {
    background-color: rgb(0, 0, 0);
    background-image: url(imagens/fotofundo3.png);
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;

}

aside {
    width: 600px;
}

footer {
    height: 300px;
}


#secao h2 {
    color: rgb(0, 0, 0);
    
    font-size: 1.1em;
    text-align: center;
    margin-left: 10px;
    line-height: 1.3em;
    padding-top: 20px;
    text-shadow: none;
}

#secao p {
    background-color: rgb(255, 254, 254);
    color: rgb(15, 15, 15);
    text-align: justify;
    padding: 0px 40px 40px 40px;
    text-indent: 20px;
    margin-bottom: 0px;
    line-height: 1.8em;
}


.imgrodape {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    top: end;
    left: 0;
    justify-content: center;
    align-items: center;
}

.logorodape {
    width: 110px;
    height: 150px;
    background-color: white;
    background-image: url(imagens/LOGODESKTOP.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgrodape2 {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    top: end;
    right: 0;
    justify-content: center;
    align-items: center;
}

.logorodape2 {
    width: 110px;
    height: 150px;
    background-color: white;
    background-image: url(imagens/LOGODESKTOP.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*
    estilo da página COMANDO
*/

.articlecomando {
    width: 900px;
    margin: auto;
}

.childrenComando {
    background-color: rgb(0, 0, 0);
    background-image: url(imagens/LOGOCOMANDO.png
    );
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 125px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} 

#container {
    background-color: rgb(0, 0, 0);
    width: 800px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.diretores {
    width: 330px;
    height: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.diretores p {
    display: none;
    text-align: center;
    font-size: 1.5em;
}

.diretores:hover p {
    display: block;
}

.textodiretores {
    color: white;
    font-weight: bold;
    width: 700px;
    margin: auto;
    line-height: 2.2em;
    text-align: justify;
}

#containercomando {
    background-color: rgb(3, 3, 3);
    width: 80vw;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

.childrencomando{
    width: 500px;
    height: 500px;
    background-color: black;
    background-image: url(imagens/NSSF.png
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*
    estilo da página GALERIA
*/

#sectiongaleria {
    width: 800px;
    margin: auto;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fundogaleria {
    height:6000px;
    width: 800px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.childrengaleria {
    width: 90vw;
}

.fotosgaleria {
    width: 300px;
    height: 300px;
}   


/*
    estilo da página SEJA MEMBRO
*/

.fotoprincipal3 {
    height: 500px;
    width: 500px;
}


.video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
}

#idvideo {
    width: 60%;   
 }

.fotoprincipal4 {
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#articlemembros h2 {
    font-size: 2em;
}

section {
    margin: auto;
    width: 650px;
}

section h3 {
    color: black;
}

section p {
    background-color: white;
    padding: 40px 60px;
}